/********   Importando fonte do google fonts   ***********/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url('./assets/heroImage.jpg');
    font-family: "nunito";
    font-size: 11pt;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}